.appComponent {
  display: flex;
  padding: 20px;
}

input, select, button, textarea {
  border: 1px solid #090909;
  border-radius: 5px;
  font-size: 20px;
  height: 30px;
  margin: 0%;
  margin-bottom: 5px;
  width: 250px;
}

.isTrunfo {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
}
